
#cardss{
    width: 900px !important;
    background-color: rgb(236, 234, 234);
    
    margin: auto; 
    margin-bottom: 110px;
}
.fhead{
    text-align: center;
}

#genform{
    width: 65%;
    margin: auto;
    margin-top: 30px;
}
#genformc{
    width: 65%;
    margin: auto;
}
#genform2{
    width: 65%;
    margin: auto;
}
.policyh{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}


Form.Control[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
Form.Control[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.leb{
    margin-left: 17.8%;
    text-align: end !important;
}
.lebg{
    margin-left: 17.8%;
    text-align: end ;
    margin-top: 10px;
}
.lebc{
    margin-left: 17.8%;
    text-align: end ;
}
.radio{
    margin-left: 17.8%;
}
#lebge{
    margin-bottom: -10px;
}
#range{
    width: 65%;
    margin-left: 17.8%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.RangeSlider{
    margin-left: 17.8%;
}
#minip{
    margin-left: 17.8%;

    margin-top: -20px !important;
}
#minipo{
    margin-left: 120px;
}
.covera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-left: 110px;
    margin-bottom: -36px;
}
.drop{
    width: 65%;
    margin-left: 17.8%;
}
#textbo{
    height: 110px;
    width: 65%;
    margin-left: 17.8%;
}
.gap1{
    width: 80.5%;
    margin-left: 10%;
    margin-top: 20px;

    text-align: center!important;


}
.gap2{
    text-align: center!important;
    width: 80.5%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 35px;
    
}

@media (max-width: 600px) {
    #cardss{
        width: 420px !important;
    
    }
    .covera{
      margin: auto;
      margin-bottom: -30px;
    }
}